<div class="dashboard" cid="7">

  <div class="view-header section-salute">
    <div cid="77">
      <div class="container">
        <div class="row row-gutter">
          <div class="col-3 col-lg-1">
            <div class="avatar-container avatar-container-72">
              <img class="avatar-72" src="http://placekitten.com/72/72">
            </div>
          </div>
          <div class="col-9 col-lg-7">
            <h1 class="salute">Welcome to TaskRabbit, Frank!</h1>
            <p>We can’t wait to help you live smarter. Let’s tackle that to-do list.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="view-container container">
    <div class="view view--build-main">
      <div class="section-body js-container--view">
        <div class="build-view--recommendations" cid="14">
          <div class="view--recommendations">
            <div class="recommendation-container container-fluid">
              <h3 class="voyages-text">Current Voyages</h3>
              <p class="instructions voyages-text">Feest your eyes Captain.  All of them faithful
                hands before the mast.  Every man worth his salt.</p>
                <div class="recommendation-container container-fluid">
                  <div class="row row-thin taskers-section js-container--primary-list
                  current-voyages">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div></div>
</div>
</div>
</div>
