
  <div class="view-container">
    <div class="view profile-view profile-container">

      <div class="header-container">
        <div class="header">
          <div class="rabbit-avatar">
            <div class="avatar-container avatar-container-180">
              <img class="avatar-180" src="http://placekitten.com/172/172">
            </div>

            <div class="elite-banner">Elite Tasker</div>

          </div>
          <div class="rabbit-title">
            <h1>Ahoy there! <strong>I’m <%= sailor.escape('name') %></strong></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="job-type" cid="10">
        <div class="container">

        </div>
      </div>
    </div>

  </div>
