<li class="rabbit-review shared-review">
  <div class="review-avatar">
    <div class="avatar-container avatar-container-86 no-border">
      <img class="avatar-86" src="<%= voyage.get('user').image_url %>">
    </div>
  </div>
  <div class="review-content">
    <div class="review-category">
      <strong><%= voyage.get('task_type') %></strong>
    </div>
    <div class="rating"
          style="background: transparent; margin: 0px; font-size: 30px;
                width: 224px">
      <div class="stars-container">
        <% for(var i = 0; i < voyage.get('rating'); i++) { %>
          <label style="color: #655234; float: left">☆</label>
        <% } %>
    </div>
  </div>
    <div class="review-body"><%= voyage.get('comment') %></div>
    <small class="muted review-meta">
      <%= voyage.get('user').fname %>
    </small>
  </div>
</li>
