<div class="view-container profile-header-container">
  <div class="view profile-view profile-container">
    <div class="profile-background-image"></div>
    <div class="header-container"
    style="background-color: transparent; padding-bottom: 30px">
    <div class="header">
      <div class="rabbit-avatar">
        <div class="avatar-container avatar-container-180">
          <img class="avatar-180" src="<%= sailor.get('image_url') %>">
        </div>

        <div class="elite-banner">Elite Pirate</div>

      </div>
      <div class="rabbit-title">
        <h1>Ahoy there! <strong>I’m <%= sailor.escape('name') %></strong></h1>
      </div>
      <a class="btn btn-primary btn-block tasker-hire-btn js-btn--next" href="#confirmation"
          style='margin-right: auto; margin-left: auto; width: 19%'>
        <span class="u-regular hire-me">Hire me!</span>
        <span class="tasker-hourly-rate u-light">5% plunder</span>
      </a>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="reviews" cid="34">
    <div class="container">
      <ul class="rabbit-reviews">
      </ul>
    </div>
  </div>
</div>
</div>

<div id="lean_overlay"></div>

<%= JST['sailor/sailor_hire_confirmation']() %>
