<div class="view-container">
  <div class="view view--build-main">
    <div class="view-header"></div>
    <div class="section-body js-container--view">
      <div class="page-loader"></div>
      <div class="build-view--recommendations" cid="54"><div class="view--recommendations">


        <div class="recommendations-container">


          <p class="recommendations--instructions u-semibold u-mobile-padded ">Choose the Tasker you'd like to work with.</p>

          <div class="row row-thin taskers-section js-container--primary-list"><div class="panel tasker-card-item u-align-center tasker-card-panel" cid="55" data-invitee-id="809628"><div class="tasker-avatar-container box-break">
            <img class="tasker-avatar" src="http://placekitten.com/g/144/144">

          </div>
          <h3 class="tasker-display-name">
            <%= sailor.escape('name') %>
          </h3>
          <div class="tasker-section-details">
            <div class="tasker-section-details__detail">

              <div class="tasker-stat-number">99%</div>
              <div class="tasker-stat-title">Positive</div>

            </div>
            <div class="tasker-section-details__detail">
              <div class="tasker-stat-number">434</div>
              <div class="tasker-stat-title tasker-category-type">Tasks</div>
            </div>
          </div>
          <div class="tasker-card__actions">
            <a class="btn btn-primary btn-block tasker-hire-btn js-btn--next" href="https://www.taskrabbit.com/tasks/a/recommendations?uuid=c74c2f64-3bb4-43dd-84aa-a4ecfaa31c1a#">
              <span class="u-regular">Hire <span class="u-lscp-hidden">me!</span></span>
              <span class="tasker-hourly-rate u-light">$75/hr</span>
            </a>
            <span class="link js-reviews-link-809628" cid="57">See reviews &amp; profile</span>
          </div>

          <div class="tasker-experience-bar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
