<div class="panel tasker-card-item u-align-center tasker-card-panel" cid="55" data-invitee-id="809628">
  <div class="tasker-avatar-container box-break">
    <img class="tasker-avatar" src="http://placekitten.com/g/144/144">

  </div>
  <h3 class="tasker-display-name">
    <%= sailor.escape('name') %>
  </h3>
  <div class="tasker-hire-section-details">
    <div class="tasker-hire-details__detail">

      <div class="tasker-stat-number">99%</div>
      <div class="tasker-stat-title">Positive</div>

    </div>
    <div class="tasker-hire-details__detail">
      <div class="tasker-stat-number">434</div>
      <div class="tasker-stat-title tasker-category-type">Tasks</div>
    </div>
  </div>
  <div class="tasker-card__actions">
    <a class="btn btn-primary btn-block tasker-hire-btn js-btn--next">
      <span class="u-regular hire-me">Hire me!</span>
      <span class="tasker-hourly-rate u-light">5% plunder</span>
    </a>
    <span class="link js-reviews-link-809628" cid="57">See reviews &amp; profile</span>
  </div>

  <div class="tasker-experience-bar"></div>
</div>
