<div id="confirmation">
  <div class="rating">

    <h3 class="voyages-text">
      Confirmed!
    </h3>

    <button class="btn-fld btn-primary btn btn-submit-review">
      Continue
    </button>

  </div>
</div>
