<div class="view-container container">
  <div class="view view--build-main">
    <div class="section-body js-container--view">
      <div class="build-view--recommendations" cid="14">
        <div class="view--recommendations">
          <div class="recommendation-container container-fluid">
            <h3 class="voyages-text">Current Voyages</h3>
            <p class="instructions voyages-text">Feest your eyes Captain.  All of them faithful
              hands before the mast.  Every man worth his salt.</p>
              <div class="recommendation-container container-fluid">
                <div class="row row-thin taskers-section js-container--primary-list
                sailors-available">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
