<div class="view-container profile-header-container">
  <div class="view profile-view profile-container">
    <div class="profile-background-image"></div>
    <div class="header-container"
    style="background-color: transparent; padding-bottom: 30px">
    <div class="header">
      <div class="rabbit-avatar">
        <div class="avatar-container avatar-container-180">
          <img class="avatar-180" src="http://placekitten.com/172/172">
        </div>

        <div class="elite-banner">Elite Tasker</div>

      </div>
      <div class="rabbit-title">
        <h1>Ahoy there! <strong>I’m <%= sailor.escape('name') %></strong></h1>
      </div>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="reviews" cid="34">
    <div class="container">
      <ul class="rabbit-reviews">
      </ul>
    </div>
  </div>
</div>
</div>
