<div class="container header-text-container">
  <div class="row row-gutter">
    <div class="col-3 col-lg-1">
      <div class="avatar-container avatar-container-72">
        <img class="avatar-72" src="http://placekitten.com/72/72">
      </div>
    </div>
    <div class="col-9 col-lg-7">
      <h1 class="salute">Welcome to TaskRabbit, Frank!</h1>
      <p>We can’t wait to help you live smarter. Let’s tackle that to-do list.</p>
    </div>
  </div>
</div>
