<div class="container header-text-container">
  <div class="row row-gutter">
    <div class="col-9 col-lg-7">
      <h1 class="salute">Welcome to TaskPirates, Frank!</h1>
      <p>We can’t wait to help you sail smarter. Let’s tackle that to-do list.</p>
    </div>
  </div>
</div>
