<%= render 'shared/navbar' %>

<header class="home-page">
  <div class="background-image"></div>
  <div class="header-content">
    <div class="header-content-inner">
      <div class="home-page-logo-container">
      </div>
    </div>
    <hr>
  </div>
</div>
</header>

<div class="layout--container js-layout-container">
  <div class="main--container js-main-container">
    <div class="main--content">
      <div class="background-image"></div>
      <div class="panel panel--spaced is-focused ls-main-content">
        <div class="logo-container">
          <img class="pirate-logo login" src="http://i.imgur.com/C61Kkv4.png">
          <div class="pirate-logo-text-wrapper-login"></div>
          <img class"pirate-logo-text pirate-logo-home"
          src="http://fontmeme.com/embed.php?text=TaskPirates&name=Caribbean.ttf&size=45&style_color=4A462C"
          alt="Pirates of the Caribbean Font"
          style="width: 337px">
          <p class="welcome-msg"
          style="margin-top: 13px; margin-bottom: 31px">
          Starting your next voyage and could use some extra hands at deck?
          There's bound to be some pirates on this rock as crazy as you.</p>
          <a href="/session/new"
          class="btn btn-primary btn-xl page-scroll take-tour">
          Take a Tour
        </a>
      </div>
    </div>
  </div>
</div>
</div>
