<%= render 'shared/navbar' %>

<header class="home-page">
  <div class="background-image"></div>
  <div class="header-content">
    <div class="header-content-inner">
      <div class="home-page-logo-container">
        <img class="pirate-logo login" src="http://i.imgur.com/C61Kkv4.png">
        <div class="pirate-logo-text-wrapper-login">
          <img class"pirate-logo-text" src="http://fontmeme.com/embed.php?text=TaskPirates&name=Caribbean.ttf&size=45&style_color=4A462C" alt="Pirates of the Caribbean Font">
        </div>
      </div>
      <hr>
      <p>Starting your next voyage and could use some extra hands at deck?
        There's bound to be some pirates on this rock as crazy as you.</p>
        <a href="/session/new" class="btn btn-primary btn-xl page-scroll">Take a Tour</a>
        </div>
      </div>
    </header>
