<div class="layout--container js-layout-container">
  <div class="main--container js-main-container">
    <div class="main--content">
      <div class="background-image"></div>
      <div class="panel panel--spaced is-focused ls-main-content">
        <img class="ls-logo" src="https://d2613xx0oxxbnv.cloudfront.net/v3/assets/tr_core_assets/logos/logo-h-547d52e5757dec0483a9b4a8f65744d7.png">
        <div class="js-child-container">
          <div class="view-in">
            <form novalidate="" action="<%= session_url %>" method="post">
              <%= auth_token_input %>

              <fieldset class="margin-bottom js-error-target" data-key="email">
                <label for="email">Email Address</label>
                <input class="u-full-width" id="email" name="user[email]" type="text">
              </fieldset><fieldset class="margin-bottom js-error-target" data-key="password">
                <label for="password">Password</label>
                <input class="u-full-width" id="password" name="user[password]" type="password">
              </fieldset>
              <fieldset class="margin-bottom">
                <button class="btn btn-primary u-full-width"
                        type="submit">Log in</button>
                <button class="btn btn-primary u-full-width btn-guest-login"
                        type="submit">Guest log in</button>
              </fieldset>
              <a class="u-pull-right" href="/password/reset">Forgot password?</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.btn-guest-login').click(function(){
    event.preventDefault();
    $("input[name='user[email]']").val('jack@sparrow.com');
    $("input[name='user[password]']").val('password');
  })
</script>
