<div class="dashboard" cid="7">

  <div class="container tasks-container" style="top: 24px">
    <div class="row row-gutter">
      <div class="col-12 col-lg-8 sections-container">
        <div class="section-top dashboard-section"><div>
          <div class="row">
            <div class="col-12">
              <h2 class="section-title">Confirmed Voyages</h2>
              Your able bodied crew...
            </div>
          </div>
        </div></div>
      </div>
      <div class="col-4 sm-hide md-hide dashboard-sidebar sidebar-tasks">
      </div>
    </div>
  </div>

  <%= JST['voyage/voyage_review_form']() %>

</div>
