<div class="panel tasker-card-item u-align-center tasker-card-panel" cid="55" data-invitee-id="809628">
  <div class="tasker-avatar-container box-break">
    <img class="tasker-avatar" src="http://placekitten.com/g/144/144">

  </div>
  <h3 class="tasker-display-name">
    <%= voyage.sailor().escape('name') %>
  </h3>
  <div class="tasker-section-details">
    <div class="tasker-section-details__detail">
      <span class="voyage-description">
        Hired for... <%= voyage.escape('name') %>
      </span>
    </div>
  </div>
  <div class="tasker-card__actions">
    <a href="#signup" class="btn btn-primary btn-block tasker-hire-btn
              voyage-complete-btn js-btn--next">
      <span class="u-regular">Voyage Complete</span>
    </a>
    <span class="link js-reviews-link-809628 cancel-voyage" cid="57">
      Cancel voyage
    </span>
  </div>

  <div class="tasker-experience-bar"></div>
</div>

<div id="signup" style="top: 0px">
  <div class="rating">

    <h3 class="voyages-text">
      How was ye experience wit' th' scurvy pirate?
    </h3>

    <form>
      <div class="stars-container">
        <input name="stars" id="e5" type="radio"></a><label for="e5">☆</label>
        <input name="stars" id="e4" type="radio"></a><label for="e4">☆</label>
        <input name="stars" id="e3" type="radio"></a><label for="e3">☆</label>
        <input name="stars" id="e2" type="radio"></a><label for="e2">☆</label>
        <input name="stars" id="e1" type="radio"></a><label for="e1">☆</label>
      </div>

      <textarea class="field-textarea form--block-input"
                name="voyage[task_description]"
                placeholder="EXAMPLE: There’s a restaurant on 3rd St."
                rows="4">
      </textarea>

      <button class="btn-fld btn-primary btn">Submit</button>
    </form>

  </div>
</div>
