<div class="rating">

  <h3 class="voyages-text">
    How was ye experience wit' th' scurvy pirate?
  </h3>

  <form class="feedback-form">
    <div class="stars-container">
      <% for(var i = 5; i >= 1; i--) { %>
        <% var id = "e" + i %>
          <input name="rating" id="<%= id %>"
                  type="radio"
                  value="<%= i %>"></a>
          <label for="<%= id %>">☆</label>
      <% } %>
    </div>

    <textarea class="field-textarea form--block-input review-textarea"
              name="comment"
              placeholder="EXAMPLE: His performance was so poor,
                                    that we gave him the black spot."
              rows="4">
    </textarea>

    <button class="btn-fld btn-primary btn submit-review-btn">
      Submit
    </button>
  </form>
</div>
