<div>
  <div class="sidebar-links"></div>
  <div class="sidebar-section">
    <div class="vertical-picker-container js-dash-sidebar-vp" cid="10"><div class="vertical-picker">
      <div class="row row-thin">
        <div class="col-12 centy">
          <h3>Start Sailing Smarter</h3>
          <p class="instructions">What do you need help with?</p>
        </div>
      </div>
      <div class="row row-gutter">
        <div class="col-4 centy">
          <a class="selector-button js-link-marketing-group new-voyage" data-ignore="" data-marketing-group-id="15" data-task-type="Manning helm">
            <span class="task-type-label">
              <div class="task-type-inner">
                <div class="icon">
                  <i class="ss-icon ss-pushpin" data-icon="pushpin"></i>
                </div>
                <div class="category">Manning the Helm</div>
              </div>
            </span>
          </a>
        </div>
        <div class="col-4 centy">
          <a class="selector-button js-link-marketing-group new-voyage" data-ignore="" data-marketing-group-id="9" data-task-type="Loading cannons">
            <span class="task-type-label">
              <div class="task-type-inner">
                <div class="icon">
                  <i class="ss-bag ss-icon" data-icon="bag"></i>
                </div>
                <div class="category">Loading the Cannons</div>
              </div>
            </span>
          </a>
        </div>
        <div class="col-4 centy">
          <a class="selector-button js-link-marketing-group new-voyage" data-ignore="" data-marketing-group-id="10" data-task-type="Swabbing decks">
            <span class="task-type-label">
              <div class="task-type-inner">
                <div class="icon">
                  <i class="ss-icon ss-spray" data-icon="spray"></i>
                </div>
                <div class="category">Swabbing the Decks</div>
              </div>
            </span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 centy">
          <a class="link-other" href="/tasks/a/form?source=dashboard&amp;vertical=other">Looking for something else?</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
