<div class="rating" style="margin-top: 150px; height: 221px;">

  <h3 class="voyages-text">
    Thanks for your feedback!
  </h3>

  <button class="btn-fld btn-primary btn btn-close-modal"
          style="position: relative; top: 107px;">
    Continue
  </button>
</div>
