<li class="voyage-name"><%= voyage.get('name') %></li>
<li class="sailor-name"><%= voyage.sailor().get('name') %></li>
<button type="button"
        class="btn btn-danger
        cancel-btn">
        Cancel
</button>
