<ul>
  <% tasks.forEach( function (task) { %>
    <div class="task-box">
      <label>
        <button class="btn btn-info btn-new-voyage"
          type="submit"
          data-task-type="<%= task %>">
          <%= task %>
        </button>
      </label>
    </div>
  <% }) %>
</ul>
