<div id="signup">
  <div class="rating">

    <h3 class="voyages-text">
      How was ye experience wit' th' scurvy pirate?
    </h3>

    <form class="feedback-form">
      <div class="stars-container">
        <input name="rating" id="e5"
                type="radio"
                value="5"></a>
        <label for="e5">☆</label>

        <input name="rating" id="e4"
                type="radio"
                value="4">
        </a><label for="e4">☆</label>

        <input name="rating"
                id="e3"
                type="radio"
                value="3"></a>
        <label for="e3">☆</label>

        <input name="rating"
                id="e2"
                type="radio"
                value="2"></a>
        <label for="e2">☆</label>

        <input name="rating"
                id="e1"
                type="radio"
                value="1"></a>
        <label for="e1">☆</label>
      </div>

      <textarea class="field-textarea form--block-input review-textarea"
                name="comment"
                placeholder="EXAMPLE: There’s a restaurant on 3rd St."
                rows="4">
      </textarea>

      <button class="btn-fld btn-primary btn btn-submit-review">
              Submit
      </button>
    </form>

  </div>
</div>
