<div><div class="sidebar-links"></div>
<div class="sidebar-section">
  <div class="vertical-picker-container js-dash-sidebar-vp" cid="10"><div class="vertical-picker">
    <div class="row row-thin">
      <div class="col-12 centy">
        <h3>Start Sailing Smarter</h3>
        <p class="instructions">What do you need help with?</p>
      </div>
    </div>
    <% _.each(tasksArr, function (tasks) { %>
      <div class="row row-gutter">
        <% _.each(tasks, function (task) { %>
          <div class="col-6 centy">
            <a class="selector-button new-voyage" data-task-type="<%= task %>">
              <span class="task-type-label">
                <div class="task-type-inner">
                  <div class="icon">
                    <i class="ss-icon ss-pushpin" data-icon="pushpin"></i>
                  </div>
                  <div class="category"><%= task %></div>
                </div>
              </span>
            </a>
          </div>
        <% }) %>
      </div>
    <% }) %>
    <div class="row">
      <div class="col-12 centy">
        <a class="link-other" href="/tasks/a/form?source=dashboard&amp;vertical=other">Looking for something else?</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
