/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 */

 @import "bootstrap-sprockets";
 @font-face {
        font-family: "Treasure Map";
        src: url(/assets/Treamd.ttf) format("truetype");
    };
 @font-face {
        font-family: "Delitsch";
        src: url(/assets/DelitschAntiqua.ttf) format("truetype");
    };

 html, body, div, span, object,
 iframe, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, a, abbr, acronym,
 address, code, del, dfn, em, img, q, dl,
 dt, dd, ol, ul, li, fieldset, form,
 label, legend, table, caption, tbody,
 tfoot, thead, tr, th, td, article, aside,
 dialog, figure, footer, header, hgroup,
 nav, section, input, select, textarea {
   margin: 0;
   padding: 0;
   border: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;
   vertical-align: baseline;
 }

 .job-field-container.is-focused {
   cursor: default
 }

 .job-form__field {
   padding-left: 0.5em;
 }

 .fields-container {
   margin-bottom: 2em;
 }

 .job-form__field-label {
   font-weight: normal;
   font-size: 1rem;
   text-transform: uppercase;
 }

 .job-form__field.is-editable {
   padding-bottom: 1em;
   padding-top: 1.375em;
 }

 .panel.is-focused {
   box-shadow: 0px 2px 2px 0px rgba(50,58,59,0.15);
   margin-top: 1em;
   margin-bottom: 1em;
 }

 .job-field-container {
   padding: 1.375em;
 }

 .panel {
   background: #B9995B;
   overflow: hidden;
   padding: 0.5em;
   margin-top: 0.25em;
 }

 .job-form__category-input-fields[data-key="vehicle_requirement"] {
   max-height: 275px;
   overflow: hidden;
   margin-bottom: 0;
 }

 .field-focus-container {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .category-input-fields__title {
   padding-bottom: 0.5em;
   border-bottom: 1px solid #060503;
   margin-bottom: 1em;
 }

 fieldset.fieldset-radio {
   margin-bottom: 0.25em;
 }

 fieldset.fieldset-radio input[type="radio"] {
   display: block;
   position: absolute;
   top: 2px;
   left: 2px;
   margin-top: 9px;
 }

 h4 {
   font-weight: 600;
 }

 form fieldset {
   position: relative;
 }

 * {
   box-sixing: border-box;
 }

 div, label {
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;
   vertical-align: baseline;
 }

 fieldset {
   -webkit-margin-start: 2px;
   -webkit-margin-end: 2px;
   -webkit-padding-before: 0.35em;
   -webkit-padding-start: 0.75em;
   -webkit-padding-end: 0.75em;
   -webkit-padding-after: 0.625em;
 }

 body, input, textarea,
 select, button, legend, p {
   font-family: "Delitsch";
   font-weight: 300;
   font-size: 1rem;
   line-height: 1.4;
 }

 fieldset.fieldset-checkbox input[type="checkbox"]+label,
 fieldset.fieldset-checkbox input[type="radio"]+label,
 fieldset.fieldset-radio input[type="checkbox"]+label,
 fieldset.fieldset-radio input[type="radio"]+label {
   display: block;
   margin-left: 1.75em;
 }

 label[for] {
   cursor: pointer;
 }

 button.btn-advance-step {
   margin-top: 0;
   margin-bottom: 0;
   display: block;
 }

 .btn-advance-step, .confirmation-form-container,
 .job-form-fields, .field-focus-container, .find-sailors {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .btn {
   text-align: center;
   padding: 0.5em 1.38em 0.5em;
   border-radius: 4px;
   font-size: 1.25rem;
   font-weight: normal;
   outline: none;
   cursor: pointer;
   -webkit-transition-property: background, color, border-color, box-shadow;
   transition-property: background, color, border-color, box-shadow;
   -webkit-transition-timing-function: ease;
   transition-timing-function: ease;
   -webkit-transition-duration: 0.16s;
   transition-duration: 0.16s;
 }

 .job-form__field-inner {
   max-width: 100%;
 }

 .form--block-input {
   width: 100%;
 }

 input[type=text], input[type=password],
 input[type=email], input[type=search],
 input[type=url], input[type=number],
 textarea, select {
   color: #828a8b;
   border: 1px solid #b4b9b9;
   font-size: 1em;
   border-radius: 4px;
   -webkit-transition-property: border-color, color, box-shadow;
   transition-property: border-color, color, box-shadow;
   -webkit-transition-duration: 0.15s;
   transition-duration: 0.15s;
   max-width: 100%;
 }

 input[type=text], input[type=password], input[type=email],
 input[type=search], input[type=url],
 input[type=submit], input[type=number], textarea {
   outline: none;
 }

 textarea {
   white-space: normal;
   padding: 0.5em 0.75em;
 }

 input, textarea, keygen, select, button {
   margin: 0em;
   font: normal normal normal 11px/normal '.HelveticaNeueDeskInterface-Regular';
   color: initial;
   letter-spacing: normal;
   word-spacing: normal;
   text-transform: none;
   text-indent: 0px;
   text-shadow: none;
   display: inline-block;
   text-align: start;
 }

 .date-picker__arrow.date-picker__arrow--right {
   float: right;
 }

 .date-picker__arrow.date-picker__arrow--left {
   float: left;
 }

 .date-picker__arrow {
   font-size: 1.125rem;
   width: 40px;
   vertical-align: middle;
   line-height: 116px;
 }

 a, .link {
   color: #A35D11;
   text-decoration: none;
   cursor: pointer;
 }

 .date-picker__date-list-container {
   position: relative;
   overflow-x: hidden;
   margin-left: 40px;
   margin-right: 40px;
   padding-top: 0.5em;
   height: 190px;
 }

 .date-picker__date-list {
   position: relative;
   left: 20;
   -webkit-transition: left 0.3s ease-in-out;
   transition: left 0.3s ease-in-out;
   white-space: nowrap;
 }

 .date-picker__date-container {
   display: inline-block;
   margin: 0 0.25rem;
   vertical-align: top;
 }

 .date-picker__date-list {
   position: relative;
   left: 0;
   -webkit-transition: left 0.3s ease-in-out;
   transition: left 0.3s ease-in-out;
   white-space: nowrap;
 }

 .date-picker__date-item {
   height: 100px;
   width: 100px;
   display: block;
   position: relative;
   border: 1px solid #000000;
   border-radius: 4px;
   padding: 0.375em;
   text-align: center;
   background-color: #fff;
 }

 .date-item__month {
   color: #b4b9b9;
 }

 .date-item__month, .date-item__day, .date-item__dow {
   line-height: 1em;
 }

 .u-light {
   font-weight: 300;
 }

 .date-item__day {
   font-weight: bold;
   font-size: 3rem;
 }

 .u-semibold {
   font-weight: 600;
 }

 .date-picker__date-input:checked+.date-picker__date-item,
 .date-picker__date-input:checked+.date-picker__date-item
 .date-item__month {
   background: #4E3B21;
   color: white;
   height: auto;
 }

 .date-picker__date-input:checked+.date-picker__date-item {
   width: 148px;
   height: 122px;
   top: -0.5em;
 }

 .date-picker__date-input:checked+.date-picker__date-item .date-item__month {
   opacity: 0.6;
   line-height: 1.5em;
 }

  .date-picker__date-input {
    display: none;
  }

 .form-container-inner {
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
 }

 /* .page-header-html+.main-content {
   -
 } */

 .page-header-html+.main-content {
   min-height: 500px;
   position: relative;
 }

 .page-header-html {
    background-color: #D2C6BA;
    top: -7px;
    margin-top: 0px;
  }

  .page-header-html .container {
    top: -28px;
  }

 .main-content {
   position: relative;
   width: 100%;
 }

 .view-container {
   position: relative;
   margin: 0 auto;
 }

 .profile-view {
   padding-bottom: 0;
 }

 .profile-view .search-header-container.is-visible+.header-container {
   padding-top: 130px;
 }

 .profile-view .header-container, .profile-view .header-container p {
   color: white;
 }

 .profile-view .header-container {
   padding: 0 2em;
   padding-top: 2em;
   position: relative;
 }

 .profile-view .header-container, .profile-view .about, .profile-view .job-type-main {
   max-width: 1128px;
   margin: 0 auto;
 }

 .profile-view .header-container .rabbit-avatar {
   max-width: 180px;
   margin: 0 auto 2em;
 }

 .profile-view .header-container [class^=avatar-container] {
   border: 4px solid white;
 }

 .avatar-container-180 {
   z-index: 10;
   overflow: hidden;
   width: 180px;
   height: 180px;
   border-radius: 50%;
   border: 2px solid #158aa2;
   background-color: white;
   text-align: left;
   position: relative;
 }

 .avatar-container-180 img {
   width: 100%;
   height: 100%;
 }

 .avatar-180 {
   z-index: 0;
   position: relative;
   border-radius: 50%;
   width: 180px;
   height: 180px;
   max-width: 100%;
   max-height: 100%;
 }

 .avatar-container-180 {
   z-index: 10;
   overflow: hidden;
   width: 180px;
   height: 180px;
   border-radius: 50%;
   border: 2px solid #158aa2;
   background-color: white;
   text-align: left;
   position: relative;
 }

 .profile-view .header-container .elite-banner {
   background-color: #ff7c50;
   color: white;
   text-transform: uppercase;
   text-align: center;
   padding: 0.35em 0 0.25em;
   font-weight: normal;
   font-size: 0.85em;
   position: relative;
   max-width: 150px;
   margin: -3em auto 0;
   border-radius: 1em;
   z-index: 10;
 }

 .profile-view .header-container .rabbit-title {
   text-align: center;
   font-weight: 300;
 }

 @media (min-width: 501px) {
   h1, .h1 {
     font-size: 2.5rem;
   }
}

 .profile-view .header-container .rabbit-title strong {
   font-weight: normal;
 }

 .profile-view .header-container .rabbit-details-container {
   width: 100%;
   max-width: 850px;
   margin: 2em auto 0;
 }

 @media (max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
   .profile-view .header-container .rabbit-details-main {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: stretch;
     -webkit-align-items: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
     -webkit-align-content: stretch;
     -ms-flex-line-pack: stretch;
     align-content: stretch;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
   }
 }

 @media (max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
   .view--recommendations .taskers-section {
     display: block;
    }
 }

 .profile-view .header-container .detail-section {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-flex: 1;
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
 }

 .profile-view .header-container .detail-content strong {
   font-weight: normal;
 }

 div.profile-view {
   background: grey;
 }

 .row {
   position: relative;
 }

 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-weight: 600;
   margin-bottom: 0.754ex;
 }

 .row [class^='col-'], .row [class*=' col-'] {
   float: left;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin-bottom: 1rem;
 }

 .view--recommendations .recommendations-container {
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
 }

 .recommendations--instructions {
   margin: 1.5em 0;
   color: #828a8b;
 }

 .view--recommendations .tasker-card-item {
   position: relative;
   margin-bottom: 2em;
   margin-left: 1em;
   margin-right: 1em;
   overflow: visible;
   width: 260px;
   height: 375px;
   float: left;
 }

 .u-align-center {
   text-align: center;
 }

 .view--recommendations .tasker-avatar-container {
   width: 144px;
   height: 144px;
   margin-bottom: 1em;
   margin-left: auto;
   margin-right: auto;
   margin-top: -1.5em;
   position: relative;
 }

 .view--recommendations .tasker-avatar {
   background: white;
   border: 1px solid rgba(180,185,185,0.35);
   border-radius: 100%;
   max-width: 100%;
   max-height: 100%;
 }

 .view--recommendations .tasker-display-name {
   width: 100%;
   margin-top: 0.75rem;
   margin-bottom: 1rem;
   font-size: 1.75rem;
 }

 .view--recommendations .tasker-section-details {
   width: 66%;
   margin-bottom: 1em;
   margin-left: auto;
   margin-right: auto;
 }

 .view--recommendations .tasker-section-details__detail {
   width: 90%;
   float: left;
   display: inline-block;
 }

 .view--recommendations .tasker-hire-section-details {
   width: 66%;
   margin-bottom: 5em;
   margin-left: auto;
   margin-right: auto;
 }

 .view--recommendations .tasker-hire-details__detail {
   width: 48%;
   float: left;
   display: inline-block;
 }

 .tasker-section-details__detail {
   margin: auto;
   margin-right: 0;
   margin-left: 0;
   text-align: left;
   overflow: hidden;
   height: 47px;
 }

 .view--recommendations .tasker-stat-number {
   font-size: -0.75rem;
   text-align: center;
 }

 .btn.btn-block, .btn:visited.btn-block {
   width: 100%;
   max-width: 100%;
 }

 @media (max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
   .view--recommendations .tasker-card__actions {
     -webkit-box-ordinal-group: 5;
     -webkit-order: 4;
     -ms-flex-order: 4;
     order: 4;
     width: 80%;
     margin: 0 auto 0 auto;
   }
 }

 @media (max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
   .view--recommendations .tasker-card-item:nth-child(4n+1) {
     margin-left: 0;
   }
  }
 .view--recommendations .tasker-hire-btn {
   margin-bottom: 1.25rem;
 }

 .btn, .btn:visited {
   -webkit-appearance: none;
   display: inline-block;
   text-align: center;
   padding: 0.5em 1.38em 0.5em;
   border-radius: 4px;
   font-size: 1.25rem;
   font-weight: normal;
   outline: none;
   cursor: pointer;
   -webkit-transition-property: background, color, border-color, box-shadow;
   transition-property: background, color, border-color, box-shadow;
   -webkit-transition-timing-function: ease;
   transition-timing-function: ease;
   -webkit-transition-duration: 0.16s;
   transition-duration: 0.16s;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

 .u-regular {
   font-weight: normal;
 }

 span.u-regular {
   text-align: center;
   width: 100%;
   align: center;
   display: inline-block;
   margin: auto;
 }

 .view--recommendations .tasker-hourly-rate {
   opacity: .6;
 }

.row.row-gutter>[class^='col-'], .row.row-gutter>[class*=' col-'] {
  padding-left: 8px;
  padding-right: 8px;
}

.dashboard .dashboard-sidebar {
  margin-top: -8em;
}

.row .col-4 {
  width: 33.33333%;
}

.dashboard .sidebar-section {
  margin-bottom: 16px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #B9995B;
  border-radius: 7px;
}

.vertical-picker {
  background-color: #B9995B;
  padding: 16px;
  position: relative;
  overflow: hidden;
}

.row.row-thin>[class^='col-'], .row.row-thin>[class*=' col-'] {
  margin-bottom: 0;
}

.row.row-thin>[class^='col-'], .row.row-thin>[class*=' col-'] {
  margin-bottom: 0;
}

.row [class^='col-'].centy, .row [class*=' col-'].centy {
  text-align: center;
}

.row .col-12 {
  width: 100%;
}

@media (min-width: 501px) {
  h3, .h3 {
  font-size: 1.75rem;
  }
}

p {
  margin: 0 0 1.125em 0;
}

.row.row-gutter {
  margin-left: -8px;
  margin-right: -8px;
}

.row .col-6 {
  width: 50%;
}

.vertical-picker .selector-button {
  display: block;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px 0;
  cursor: pointer;
  min-height: 100px;
  position: relative;
  background-color: white;
}

.vertical-picker .task-type-label {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vertical-picker .task-type-inner {
  max-width: 128px;
  margin: 0 auto;
}

.vertical-picker i {
  font-size: 1.5em;
}

.ss-icon, .ss-icon.ss-icomoon, [class^="ss-"], [class*=" ss-"] [class^="ss-"]:before, [class*=" ss-"]:before, [class^="ss-"].ss-icomoon:before, [class*=" ss-"].ss-icomoon:before, [class^="ss-"].right:after, [class*=" ss-"].right:after, [class^="ss-"].ss-icomoon.right:after, [class*=" ss-"].ss-icomoon.right:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  line-height: 1;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vertical-picker .selector-button:hover, .vertical-picker .selector-button.active {
  color: white;
  background-color: #4E3B21;
  border-color: #000000;
}

@media (max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
  .page-header-html {
    padding-top: 30px;
    display: block;
  }
}

.page-header {
  margin: 6px 0 20px;
  position: relative;
  top: 0;
  width: 100%;
  height: 78px;
  z-index: 100;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.page-header, .main-content {
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.page-header-html .header-logo {
  display: inline-block;
  background: url("http://i.imgur.com/mJZlnld.png") no-repeat;
  background-size: 96px 96px;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 0;
}

.page-header-html .page-header-navigation {
  position: absolute;
  top: 7px;
  right: 0;
}

.page-header-html .page-header-navigation {
  vertical-align: top;
}

.page-header-html .page-header-navigation .header-link:first-child,
.page-header-html .page-header-navigation .header-segment:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.page-header-html .page-header-navigation .header-link,
.page-header-html .page-header-navigation .header-segment {
  background: #060503;
  font-size: 14px;
  line-height: 1.4em;
}

.page-header-html .page-header-navigation li {
  float: left;
}

ul li {
  list-style-type: none;
}

.page-header-html .page-header-navigation .header-link span,
.page-header-html .page-header-navigation .header-link a,
.page-header-html .page-header-navigation .header-segment span,
.page-header-html .page-header-navigation .header-segment a {
  padding: .75em 1.2em;
  display: inline-block;
  font-weight: normal;
}

a:hover, a:focus, .link:hover, .link:focus {
  color: #6A441A;
  text-decoration: none;
}

.voyages-text {
  text-align: center;
}

.tasker-hire-btn {
  display: flex;
  justify-content: center;
}

a.tasker-hire-btn {
  padding-left: 0;
  padding-right: 0;
}

.dashboard .section-salute {
  padding-top: 9em;
  padding-bottom: 0;
  margin-bottom: 0;
}

@media (max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
  .view-header {
    padding-top: 100px;
    padding-bottom: 1em;
    margin-bottom: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.view-header {
  padding-top: 78px;
}

.dashboard .section-salute .avatar-container {
  margin-left: -4px;
  position: relative;
  top: 1em;
}

.avatar-container-72 {
  z-index: 10;
  overflow: hidden;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 2px solid #158aa2;
  background-color: white;
  text-align: left;
  position: relative;
}

.avatar-container-72 img {
  width: 100%;
  height: 100%;
}

.dashboard .salute {
  font-weight: 300;
}

@media (min-width: 501px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

/* Landing Page */


html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Delitsch";
}

hr {
    max-width: 50px;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

li.header-link {
  color: #A35D11;
}

a {
    color: #A35D11;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Delitsch";
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    font-family: "Delitsch";
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: "Delitsch";
    font-weight: 700;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url(http://i.imgur.com/GRpTqxB.jpg);
  width: 100%;
  height: 100%;
  top: -1px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  -o-background-size: cover;
  background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;

  .header-content-inner {
    h1 {
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 700;
    }

    .black-blur {
      z-index: 1;
      -webkit-filter: blur(3px);
      color: black;
      position: absolute;
    }

    a {
      margin-top: 107px;
    }

  }
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    z-index: 10;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.8);
    display: block;
    width: 600px;
    position: absolute;
    text-align: center;
}

@media(min-width:768px) {
    header .home-page {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 600px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 60%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: "Delitsch";
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

@media (max-width: 800px) and (min-width: 501px),
(max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
  .ls-main-content {
    max-width: 500px;
    margin-bottom: 1em;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.9);
  }
}

.ls-main-content {
  position: relative;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100%;
  top: 2em;
}

.panel--spaced {
  padding: 1.125em 1.5em;
}

.ls-main-content .ls-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 1em;
}

fieldset.margin-bottom {
  margin-bottom: 1em;
}

form fieldset, form .input-container {
  position: relative;
}

input[type=text], input[type=password], input[type=email], input[type=search], input[type=url], input[type=number] {
  padding: 0.625em 1em;
}

input[type=text], input[type=password], input[type=email], input[type=search], input[type=url], input[type=number], select {
  vertical-align: middle;
  min-height: 40px;
}

input[type=text], input[type=password], input[type=email], input[type=search], input[type=url], input[type=number], textarea, select {
  color: #828a8b;
  border: 1px solid #b4b9b9;
  font-size: 1em;
  border-radius: 4px;
  -webkit-transition-property: border-color, color, box-shadow;
  transition-property: border-color, color, box-shadow;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  max-width: 100%;
}

.u-full-width {
  width: 100%;
}

.u-pull-right {
  float: right;
}

@media (max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
  .page-header-html {
    padding-top: 30px;
    display: block;
  }
}

header.page-header {
  position: absolute;
  border-bottom: 0;
}

div.header-content {
  top: 350px;
}

.section-salute {
  background-image: url(http://i.imgur.com/adKvZv3.jpg);
  background-size: cover;
}

.taskers-section {
  text-align: center;
}

.header-text-container {
  position: absolute;
  top: 225px;
  left: 220px;
  color: white;
}

.view-header.section-salute {
  padding-top: 400px;
}

.pirate-logo-text-wrapper img {
  max-width: 100%;
  height: auto;
}

div.pirate-logo-text-wrapper {
  width: 30%;
  float: left;
}

.pirate-logo-text-wrapper-login img {
  max-width: 100%;
  height: auto;
}

div.pirate-logo-text-wrapper-login {
  width: 75%;
  float: left;
}

.pirate-logo.login {
  margin-left: 18px;
}

.pirate-logo {
  float: left;
}

.ss-icon {
  vertical-align: middle;
  position: relative;
}

.ss-caret-left {
  left: -12px;
}

.btn-guest-login {
  margin-top: 14px;
}

.header-container {
  background-color: #D2C6BA;
  border-radius: 4px;
}

.job-field-container.panel {
  background-color: #B9995B;
}

.job-form__field {
  background-color: #B9995B;
}

button.find-sailors, button.btn-advance-step {
  display: block;
}

.tasker-stat-title {
  text-align: center;
}

span.tasker-hourly-rate {
  display: block;
  font-size: 0.75rem;
  margin: 0px 8px 0 10px;
}

span.hire-me {
  display: block;
  width: 57%
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/*---------------------------------------

	RESET, BODY

-----------------------------------------*/


* { margin: 0; padding: 0; }
html { height: 100%; background: fixed url(../img/bg.png) repeat; }
body { background: url(../img/grad.png) fixed center top no-repeat; font-size: 62.5%; font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", sans-serif; padding: 140px 0 30px 0; }

#banner { position: fixed; top: 0px; left: 0px; width: 100%; background: #052739; -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.4); -moz-box-shadow: 0 2px 1px rgba(0,0,0,.4); box-shadow: 0 2px 1px rgba(0,0,0,.4); z-index: 100; overflow: hidden; }
#banner-left { float: left; width: 120px; }
#banner-right { float: right; width: 900px; }
#banner p { text-align: center; font-size: 1.2em; margin: 0; line-height: 140%; padding: 20px 20px 18px 20px; }


/*---------------------------------------

	STRUCTURE

-----------------------------------------*/

.section { position: relative; margin: 0 auto; width: 664px; overflow: hidden; margin-bottom: 20px; }
.section-split { position: relative; margin: 0 auto; width: 700px; overflow: hidden; margin-bottom: 20px; }
.section-lt { position: relative; float: left; width: 304px;  }
.section-rt { position: relative; float: right; width: 304px; }

.box { background: #2C7AA5; background: rgba(40, 118, 160, 0.3); padding: 18px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

#examples { text-align: center; }
 /*
h1 { margin: 0 auto; width: 700px; font-size: 6em; font-weight: 200; color: #17516E; font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; text-align: center; text-shadow: 0 2px 0 rgba(255, 255, 255, 0.2); letter-spacing: -2px; margin-bottom: 14px; } */

h1 { margin: 0 auto 14px auto; width: 237px; height: 67px; background: url(../img/logo.png) no-repeat; text-indent: -9999px; }

#logo { }
#go { margin: 0 auto; width: 200px; }

#intro { margin: 0 auto; width: 500px; font-size: 1.3em; color: #FFF; text-align: center; font-family: "Lucida Sans Unicode", "Lucida Grande";  margin-bottom: 50px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }


/*---------------------------------------

	TYPE STUFF

-----------------------------------------*/


p { font-size: 1.3em; color: #D0E4EF; margin-bottom: 16px; line-height: 140%; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);}

strong {color: #FFF;}
h2 { color: #FFF; font-size: 2em; font-weight: normal; padding-bottom: 4px; margin-bottom: 8px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h3 { color: #FFF; font-size: 1.6em; font-weight: 200; margin-bottom: 6px; }

ul { list-style: none; font-size: 1.3em; color: #D0E4EF; }
li { padding-left: 20px;  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); line-height: 140%; margin-bottom: 2px; }

#strengths li { background: url(../img/strength.png) 0 4px no-repeat; }
#weaknesses li { background: url(../img/weakness.png) 0 4px no-repeat; }

a:link, a:visited { color: #D0E4EF; text-decoration: underline; }
a:hover, a:active { color: #D0E4EF; text-decoration: none; }


pre { display: block; font-size: 1.2em; color: #17516E;font-family: "Courier", "Courier New"; background: #90BCD4; padding: 12px; margin-bottom: 22px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

#dload { margin: 0 auto 20px auto; display: block; width: 210px; height: 50px; text-indent: -9999px; }
#dload:link, #dload:visited { background: url(../img/dlb.png) 0 0; }
#dload:hover, #dload:active { background: url(../img/dlb.png) 0 -50px; }
/*---------------------------------------

	LEAN MODAL

-----------------------------------------*/

#lean_overlay {
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


/*---------------------------------------

	EXAMPLES

-----------------------------------------*/

        #signup {

     width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);

}

        #test {
     width: 600px;
padding: 30px;
    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);

}

#test p { color: #666; text-shadow: none; }

#signup-header { background: url(../img/hd-bg.png); padding: 18px 18px 14px 18px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }

#signup-header  h2 { color: #444; font-size: 2em; font-weight: 700; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#signup-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }

#signup .txt-fld { position: relative; width: 364px; padding: 14px 20px; border-bottom: 1px solid #EEE; text-align: right; }
#signup .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }

#signup .txt-fld label { display: block; float: left; width: 90px; padding-top: 8px; color: #222; font-size: 1.3em; text-align: left;  }
#signup .txt-fld input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
#signup .txt-fld input.good_input { background: #DEF5E1 url(../img/good.png) 236px center no-repeat; }
#signup .txt-fld input.error_input { background: #FDE0E0; }



p.error { position: absolute; bottom: 48px; right: 20px; width: 262px; color: #FFF; font-size: 1.1em; padding-bottom: 5px; background: url(../img/error-arw.png) 20px bottom no-repeat; text-align: left; margin: 0; text-shadow: none; }
p.error span { display: inline-block; background: #D43636; padding: 6px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;  }
.txt-fld input:focus, .txt-fld textarea:focus { background-color: #FAF9DC; }

button {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A;
	border: none;
  width: auto;
  overflow: visible;
  font-size: 1.4em;
  color: #FFF;
 padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);}

.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(../img/modal_close.png); z-index: 2; }


/*---------------------------------------

	FOOTER

-----------------------------------------*/

#footer { position: relative; margin: 0 auto; width: 564px; overflow: hidden; padding-top: 30px; margin-bottom: 20px; text-align: center; }
#footer p { color: #91BDD5; font-size: 1em; }

#footer a:link, #footer a:visited { color: #91BDD5; text-decoration: none; }
#footer a:hover, #footer a:active { color: #FFF; text-decoration: none; }
/*---------------------------------------

	MISC

-----------------------------------------*/

img { border: none; }
a { outline: none; }

/*---------------------------------------

	RATING FORM

-----------------------------------------*/

div.rating {
  		background: #FDFDFD;
			font-family: "Segoe WP","Segoe UI", Helvetica, Arial, sans-serif;
			text-align:center;
		}
		em {
			display: block;
			margin: .5em auto 2em;
			color: #bbb;
		}

		a[href*="intent"] {
			display:inline-block;
			margin-top: 0.4em;
		}

		/*
		 * Rating styles
		 */
		.rating {
			width: 226px;
			margin: 0 auto 1em;
			font-size: 45px;
			overflow:hidden;
		}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}
		.rating a,
    .rating label {
			float:right;
			color: #aaa;
			text-decoration: none;
			-webkit-transition: color .4s;
			-moz-transition: color .4s;
			-o-transition: color .4s;
			transition: color .4s;
		}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
		.rating a:hover,
		.rating a:hover ~ a,
		.rating a:focus,
		.rating a:focus ~ a		{
			color: orange;
			cursor: pointer;
		}

    #signup {
      transform: translateY(-50%);
    }
