/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import 'bootstrap';

 html, body, div, span, object,
 iframe, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, a, abbr, acronym,
 address, code, del, dfn, em, img, q, dl,
 dt, dd, ol, ul, li, fieldset, form,
 label, legend, table, caption, tbody,
 tfoot, thead, tr, th, td, article, aside,
 dialog, figure, footer, header, hgroup,
 nav, section, input, select, textarea {
   margin: 0;
   padding: 0;
   border: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;
   vertical-align: baseline;
 }

 .job-field-container.is-focused {
   cursor: default
 }

 .job-form__field {
   padding-left: 0.5em;
 }

 .fields-container {
   margin-bottom: 2em;
 }

 .job-form__field-label {
   color: #969d9e;
   font-weight: normal;
   font-size: 1rem;
   text-transform: uppercase;
 }

 .job-form__field.is-editable {
   background: white;
   padding-bottom: 1em;
   padding-top: 1.375em;
 }

 .panel.is-focused {
   box-shadow: 0px 2px 2px 0px rgba(50,58,59,0.15);
   margin-top: 1em;
   margin-bottom: 1em;
 }

 .job-field-container {
   padding: 1.375em;
 }

 .panel {
   background: white;
   overflow: hidden;
   padding: 0.5em;
   margin-top: 0.25em;
 }

 .job-form__category-input-fields[data-key="vehicle_requirement"] {
   max-height: 275px;
   overflow: hidden;
   margin-bottom: 0;
 }

 .field-focus-container {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .category-input-fields__title {
   padding-bottom: 0.5em;
   border-bottom: 1px solid #ebecec;
   margin-bottom: 1em;
 }

 fieldset.fieldset-radio {
   margin-bottom: 0.25em;
 }

 fieldset.fieldset-radio input[type="radio"] {
   display: block;
   position: absolute;
   top: 2px;
   left: 2px;
 }

 h4 {
   font-weight: 600;
 }

 form fieldset {
   position: relative;
 }

 * {
   box-sixing: border-box;
 }

 div, label {
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;
   vertical-align: baseline;
 }

 fieldset {
   -webkit-margin-start: 2px;
   -webkit-margin-end: 2px;
   -webkit-padding-before: 0.35em;
   -webkit-padding-start: 0.75em;
   -webkit-padding-end: 0.75em;
   -webkit-padding-after: 0.625em;
 }

 body, input, textarea,
 select, button, legend, p {
   color: #323a3b;
   font-family: "Proxima", Arial, Helvetica, sans-serif;
   font-weight: 300;
   font-size: 1rem;
   line-height: 1.4;
 }

 fieldset.fieldset-checkbox input[type="checkbox"]+label,
 fieldset.fieldset-checkbox input[type="radio"]+label,
 fieldset.fieldset-radio input[type="checkbox"]+label,
 fieldset.fieldset-radio input[type="radio"]+label {
   display: block;
   margin-left: 1.75em;
 }

 label[for] {
   cursor: pointer;
 }

 button.btn-advance-step {
   margin-top: 0;
   margin-bottom: 0;
   display: block;
 }

 .btn-advance-step, .confirmation-form-container,
 .job-form-fields, .field-focus-container {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .btn-primary, .btn-primary:visited {
   border: 1px solid #1da3bf;
   background-color: #1da3bf;
   color: white;
 }

 .btn {
   text-align: center;
   padding: 0.5em 1.38em 0.5em;
   border-radius: 4px;
   font-size: 1.25rem;
   font-weight: normal;
   color: #626a6b;
   border: 1px solid #969d9e;
   background-color: transparent;
   outline: none;
   cursor: pointer;
   -webkit-transition-property: background, color, border-color, box-shadow;
   transition-property: background, color, border-color, box-shadow;
   -webkit-transition-timing-function: ease;
   transition-timing-function: ease;
   -webkit-transition-duration: 0.16s;
   transition-duration: 0.16s;
 }

 .job-form__field-inner {
   max-width: 100%;
 }

 .form--block-input {
   width: 100%;
 }

 input[type=text], input[type=password],
 input[type=email], input[type=search],
 input[type=url], input[type=number],
 textarea, select {
   color: #828a8b;
   border: 1px solid #b4b9b9;
   font-size: 1em;
   border-radius: 4px;
   -webkit-transition-property: border-color, color, box-shadow;
   transition-property: border-color, color, box-shadow;
   -webkit-transition-duration: 0.15s;
   transition-duration: 0.15s;
   max-width: 100%;
 }

 input[type=text], input[type=password], input[type=email],
 input[type=search], input[type=url],
 input[type=submit], input[type=number], textarea {
   outline: none;
 }

 textarea {
   white-space: normal;
   padding: 0.5em 0.75em;
 }

 input, textarea, keygen, select, button {
   margin: 0em;
   font: normal normal normal 11px/normal '.HelveticaNeueDeskInterface-Regular';
   color: initial;
   letter-spacing: normal;
   word-spacing: normal;
   text-transform: none;
   text-indent: 0px;
   text-shadow: none;
   display: inline-block;
   text-align: start;
 }

 .date-picker__arrow.date-picker__arrow--right {
   float: right;
 }

 .date-picker__arrow.date-picker__arrow--left {
   float: left;
 }

 a:visited, .link:visited {
   color: #158aa2;
 }

 .date-picker__arrow {
   font-size: 1.125rem;
   width: 40px;
   vertical-align: middle;
   line-height: 116px;
 }

 a, .link {
   color: #158aa2;
   text-decoration: none;
   cursor: pointer;
 }

 .date-picker__date-list-container {
   position: relative;
   overflow-x: hidden;
   margin-left: 40px;
   margin-right: 40px;
   padding-top: 0.5em;
   height: 190px;
 }

 .date-picker__date-list {
   position: relative;
   left: 0;
   -webkit-transition: left 0.3s ease-in-out;
   transition: left 0.3s ease-in-out;
   white-space: nowrap;
 }

 .date-picker__date-container {
   display: inline-block;
   margin: 0 0.25rem;
   vertical-align: top;
 }

 .date-picker__date-list {
   position: relative;
   left: 0;
   -webkit-transition: left 0.3s ease-in-out;
   transition: left 0.3s ease-in-out;
   white-space: nowrap;
 }

 .date-picker__date-item {
   height: 100px;
   width: 100px;
   display: block;
   position: relative;
   border: 1px solid #b4b9b9;
   border-radius: 4px;
   padding: 0.375em;
   text-align: center;
 }

 .date-item__month {
   color: #b4b9b9;
 }

 .date-item__month, .date-item__day, .date-item__dow {
   line-height: 1em;
 }

 .u-light {
   font-weight: 300;
 }

 .date-item__day {
   font-weight: bold;
   font-size: 3rem;
 }

 .u-semibold {
   font-weight: 600;
 }

 .date-picker__date-input:checked+.date-picker__date-item,
 .date-picker__date-input:checked+.date-picker__date-item
 .date-item__month {
   background: #00964b;
   color: white;
   height: auto;
 }

 .date-picker__date-input:checked+.date-picker__date-item {
   width: 148px;
   height: 122px;
   top: -0.5em;
 }

 .date-picker__date-input:checked+.date-picker__date-item .date-item__month {
   opacity: 0.6;
   line-height: 1.5em;
 }

 .date-picker__date-input {
   display: none;
 }

 .form-container-inner {
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
 }

 /* .page-header-html+.main-content {
   -
 } */

 .page-header-html+.main-content {
   min-height: 500px;
   position: relative;
 }

 .main-content {
   position: relative;
   width: 100%;
 }

 .view-container {
   position: relative;
   margin: 0 auto;
 }

 .profile-view {
   padding-bottom: 0;
 }

 .profile-view .search-header-container.is-visible+.header-container {
   padding-top: 130px;
 }

 .profile-view .header-container, .profile-view .header-container p {
   color: white;
 }

 .profile-view .header-container {
   padding: 0 2em;
   padding-top: 2em;
   position: relative;
 }

 .profile-view .header-container, .profile-view .about, .profile-view .job-type-main {
   max-width: 1128px;
   margin: 0 auto;
 }

 .profile-view .header-container .rabbit-avatar {
   max-width: 180px;
   margin: 0 auto 2em;
 }

 .profile-view .header-container [class^=avatar-container] {
   border: 4px solid white;
 }

 .avatar-container-180 {
   z-index: 10;
   overflow: hidden;
   width: 180px;
   height: 180px;
   border-radius: 50%;
   border: 2px solid #158aa2;
   background-color: white;
   text-align: left;
   position: relative;
 }

 .avatar-container-180 img {
   width: 100%;
   height: 100%;
 }

 .avatar-180 {
   z-index: 0;
   position: relative;
   border-radius: 50%;
   width: 180px;
   height: 180px;
   max-width: 100%;
   max-height: 100%;
 }

 .avatar-container-180 {
   z-index: 10;
   overflow: hidden;
   width: 180px;
   height: 180px;
   border-radius: 50%;
   border: 2px solid #158aa2;
   background-color: white;
   text-align: left;
   position: relative;
 }

 .profile-view .header-container .elite-banner {
   background-color: #ff7c50;
   color: white;
   text-transform: uppercase;
   text-align: center;
   padding: 0.35em 0 0.25em;
   font-weight: normal;
   font-size: 0.85em;
   position: relative;
   max-width: 150px;
   margin: -3em auto 0;
   border-radius: 1em;
   z-index: 10;
 }

 .profile-view .header-container .rabbit-title {
   text-align: center;
   font-weight: 300;
 }

 @media (min-width: 501px) {
   h1, .h1 {
     font-size: 2.5rem;
   }
}

 .profile-view .header-container .rabbit-title strong {
   font-weight: normal;
 }

 .profile-view .header-container .rabbit-details-container {
   width: 100%;
   max-width: 850px;
   margin: 2em auto 0;
 }

 @media (max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
   .profile-view .header-container .rabbit-details-main {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: stretch;
     -webkit-align-items: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
     -webkit-align-content: stretch;
     -ms-flex-line-pack: stretch;
     align-content: stretch;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
   }
 }

 @media (max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
   .view--recommendations .tasker-card-item {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-flow: row wrap;
     -ms-flex-flow: row wrap;
     flex-flow: row wrap;
     margin-left: 2%;
     margin-right: 0;
     min-width: 23.5%;
     max-width: 23.5%;
     -webkit-box-flex: 1;
     -webkit-flex: 1 1 23.5%;
     -ms-flex: 1 1 23.5%;
     flex: 1 1 23.5%;
   }
  }

 @media (max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
   .view--recommendations .taskers-section {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-flow: row wrap;
     -ms-flex-flow: row wrap;
     flex-flow: row wrap;
    }
 }

 .profile-view .header-container .detail-section {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-flex: 1;
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
 }

 .profile-view .header-container .detail-content strong {
   font-weight: normal;
 }

 div.profile-view {
   background: grey;
 }

 .row {
   position: relative;
 }

 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-weight: 600;
   margin-bottom: 0.754ex;
 }

 .row [class^='col-'], .row [class*=' col-'] {
   float: left;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin-bottom: 1rem;
 }

 .view--recommendations .recommendations-container {
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
 }

 .recommendations--instructions {
   margin: 1.5em 0;
   color: #828a8b;
 }

 .view--recommendations .tasker-card-item {
   position: relative;
   margin-bottom: 2em;
   margin-left: 1em;
   margin-right: 1em;
   overflow: visible;
 }

 .u-align-center {
   text-align: center;
 }

 .view--recommendations .tasker-avatar-container {
   width: 144px;
   height: 144px;
   margin-bottom: 1em;
   margin-left: auto;
   margin-right: auto;
   margin-top: -1.5em;
   position: relative;
 }

 .view--recommendations .tasker-avatar {
   background: white;
   border: 1px solid rgba(180,185,185,0.35);
   border-radius: 100%;
   max-width: 100%;
   max-height: 100%;
 }

 .view--recommendations .tasker-display-name {
   width: 100%;
   margin-top: 0.75rem;
   margin-bottom: 1rem;
   font-size: 1.75rem;
 }

 .view--recommendations .tasker-section-details {
   width: 66%;
   margin-bottom: 1em;
   margin-left: auto;
   margin-right: auto;
 }

 .view--recommendations .tasker-section-details__detail {
   width: 50%;
   float: left;
 }

 .view--recommendations .tasker-stat-number {
   font-size: 1.25rem;
 }

 .btn.btn-block, .btn:visited.btn-block {
   width: 100%;
   max-width: 100%;
 }

 @media (max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
   .view--recommendations .tasker-card__actions {
     -webkit-box-ordinal-group: 5;
     -webkit-order: 4;
     -ms-flex-order: 4;
     order: 4;
     margin: 1.5em 1em 1em;
     width: 100%;
   }
 }

 @media (max-width: 1024px) and (min-width: 801px), (min-width: 1025px) {
   .view--recommendations .tasker-card-item:nth-child(4n+1) {
     margin-left: 0;
   }
  }
 .view--recommendations .tasker-hire-btn {
   margin-bottom: 1.25rem;
 }

 .btn-primary, .btn-primary:visited {
   color: white;
   border: 1px solid #1da3bf;
   background-color: #1da3bf;
 }

 .btn, .btn:visited {
   -webkit-appearance: none;
   display: inline-block;
   text-align: center;
   padding: 0.5em 1.38em 0.5em;
   border-radius: 4px;
   font-size: 1.25rem;
   font-weight: normal;
   color: #626a6b;
   border: 1px solid #969d9e;
   background-color: transparent;
   outline: none;
   cursor: pointer;
   -webkit-transition-property: background, color, border-color, box-shadow;
   transition-property: background, color, border-color, box-shadow;
   -webkit-transition-timing-function: ease;
   transition-timing-function: ease;
   -webkit-transition-duration: 0.16s;
   transition-duration: 0.16s;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

 .u-regular {
   font-weight: normal;
 }

 .view--recommendations .tasker-hourly-rate {
   opacity: .6;
 }

.row.row-gutter>[class^='col-'], .row.row-gutter>[class*=' col-'] {
  padding-left: 8px;
  padding-right: 8px;
}

.dashboard .dashboard-sidebar {
  margin-top: -8em;
}

.row .col-4 {
  width: 33.33333%;
}

.dashboard .sidebar-section {
  margin-bottom: 16px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #cfd2d3;
}

.vertical-picker {
  background-color: white;
  padding: 16px;
  position: relative;
  overflow: hidden;
}

.row.row-thin>[class^='col-'], .row.row-thin>[class*=' col-'] {
  margin-bottom: 0;
}

.row.row-thin>[class^='col-'], .row.row-thin>[class*=' col-'] {
  margin-bottom: 0;
}

.row [class^='col-'].centy, .row [class*=' col-'].centy {
  text-align: center;
}

.row .col-12 {
  width: 100%;
}

@media (min-width: 501px) {
  h3, .h3 {
  font-size: 1.75rem;
  }
}

p {
  margin: 0 0 1.125em 0;
}

.row.row-gutter {
  margin-left: -8px;
  margin-right: -8px;
}

.row .col-6 {
  width: 50%;
}

.vertical-picker .selector-button {
  display: block;
  color: #158aa2;
  border: 1px solid #cfd2d3;
  border-radius: 4px;
  padding: 10px 0;
  cursor: pointer;
  min-height: 100px;
  position: relative;
}

.vertical-picker .task-type-label {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vertical-picker .task-type-inner {
  max-width: 128px;
  margin: 0 auto;
}

.vertical-picker i {
  font-size: 1.5em;
}

.ss-icon, .ss-icon.ss-icomoon, [class^="ss-"], [class*=" ss-"] [class^="ss-"]:before, [class*=" ss-"]:before, [class^="ss-"].ss-icomoon:before, [class*=" ss-"].ss-icomoon:before, [class^="ss-"].right:after, [class*=" ss-"].right:after, [class^="ss-"].ss-icomoon.right:after, [class*=" ss-"].ss-icomoon.right:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  line-height: 1;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
