html, body, div, span, object,
iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym,
address, code, del, dfn, em, img, q, dl,
dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
dialog, figure, footer, header, hgroup,
nav, section, input, select, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.job-field-container.is-focused {
  cursor: default
}

.job-form__field {
  padding-left: 0.5em;
}

.fields-container {
  margin-bottom: 2em;
}

.job-form__field-label {
  color: #969d9e;
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase;
}

.job-form__field.is-editable {
  background: white;
  padding-bottom: 1em;
  padding-top: 1.375em;
}

.panel.is-focused {
  box-shadow: 0px 2px 2px 0px rgba(50,58,59,0.15);
  margin-top: 1em;
  margin-bottom: 1em;
}

.job-field-container {
  padding: 1.375em;
}

.panel {
  background: white;
  overflow: hidden;
  padding: 0.5em;
  margin-top: 0.25em;
}

.job-form__category-input-fields[data-key="vehicle_requirement"] {
  max-height: 275px;
  overflow: hidden;
  margin-bottom: 0;
}

.field-focus-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.category-input-fields__title {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ebecec;
  margin-bottom: 1em;
}

fieldset.fieldset-radio {
  margin-bottom: 0.25em;
}

fieldset.fieldset-radio input[type="radio"] {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
}

h4 {
  font-weight: 600;
}

form fieldset {
  position: relative;
}

* {
  box-sixing: border-box;
}

div, label {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

fieldset {
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
}

body, input, textarea,
select, button, legend, p {
  color: #323a3b;
  font-family: "Proxima", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4;
}

fieldset.fieldset-checkbox input[type="checkbox"]+label,
fieldset.fieldset-checkbox input[type="radio"]+label,
fieldset.fieldset-radio input[type="checkbox"]+label,
fieldset.fieldset-radio input[type="radio"]+label {
  display: block;
  margin-left: 1.75em;
}

label[for] {
  cursor: pointer;
}

button.btn-advance-step {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.btn-advance-step, .confirmation-form-container,
.job-form-fields, .field-focus-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary, .btn-primary:visited {
  border: 1px solid #1da3bf;
  background-color: #1da3bf;
  color: white;
}

.btn {
  text-align: center;
  padding: 0.5em 1.38em 0.5em;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: normal;
  color: #626a6b;
  border: 1px solid #969d9e;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition-property: background, color, border-color, box-shadow;
  transition-property: background, color, border-color, box-shadow;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.16s;
  transition-duration: 0.16s;
}

.job-form__field-inner {
  max-width: 100%;
}

.form--block-input {
  width: 100%;
}

input[type=text], input[type=password],
input[type=email], input[type=search],
input[type=url], input[type=number],
textarea, select {
  color: #828a8b;
  border: 1px solid #b4b9b9;
  font-size: 1em;
  border-radius: 4px;
  -webkit-transition-property: border-color, color, box-shadow;
  transition-property: border-color, color, box-shadow;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  max-width: 100%;
}

input[type=text], input[type=password], input[type=email],
input[type=search], input[type=url],
input[type=submit], input[type=number], textarea {
  outline: none;
}

textarea {
  white-space: normal;
  padding: 0.5em 0.75em;
}

input, textarea, keygen, select, button {
  margin: 0em;
  font: normal normal normal 11px/normal '.HelveticaNeueDeskInterface-Regular';
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

.date-picker__arrow.date-picker__arrow--right {
  float: right;
}

.date-picker__arrow.date-picker__arrow--left {
  float: left;
}

a:visited, .link:visited {
  color: #158aa2;
}

.date-picker__arrow {
  font-size: 1.125rem;
  width: 40px;
  vertical-align: middle;
  line-height: 116px;
}

a, .link {
  color: #158aa2;
  text-decoration: none;
  cursor: pointer;
}

.date-picker__date-list-container {
  position: relative;
  overflow-x: hidden;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 0.5em;
  height: 190px;
}

.date-picker__date-list {
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  white-space: nowrap;
}

.date-picker__date-container {
  display: inline-block;
  margin: 0 0.25rem;
  vertical-align: top;
}

.date-picker__date-list {
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  white-space: nowrap;
}

.date-picker__date-item {
  height: 100px;
  width: 100px;
  display: block;
  position: relative;
  border: 1px solid #b4b9b9;
  border-radius: 4px;
  padding: 0.375em;
  text-align: center;
}

.date-item__month {
  color: #b4b9b9;
}

.date-item__month, .date-item__day, .date-item__dow {
  line-height: 1em;
}

.u-light {
  font-weight: 300;
}

.date-item__day {
  font-weight: bold;
  font-size: 3rem;
}

.u-semibold {
  font-weight: 600;
}

.date-picker__date-input:checked+.date-picker__date-item,
.date-picker__date-input:checked+.date-picker__date-item
.date-item__month {
  background: #00964b;
  color: white;
  height: auto;
}

.date-picker__date-input:checked+.date-picker__date-item {
  width: 148px;
  height: 122px;
  top: -0.5em;
}

.date-picker__date-input:checked+.date-picker__date-item .date-item__month {
  opacity: 0.6;
  line-height: 1.5em;
}

.date-picker__date-input {
  display: none;
}

.form-container-inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
