<div class="task-details-exp">
  <div class="task-details-header">
    <span class="question-header">
      TASK DETAILS
    </span>
  </div>
  <div class="task-details-form">
    <div class="answer-preview">
      <span>
        Will the task require a vehicle?
      </span>
    </div>
    <input type="radio" name="vehicle" value="0">No vehicle required<br>
    <input type="radio" name="vehicle" value="1">Needs a car<br>
    <input type="radio" name="vehicle" value="2">Needs a truck<br>
    <input type="radio" name="vehicle" value="3">Needs a car or truck
    <button type="button">
      Continue
    </button>
  </div>
</div>
